h1{
  font-family: "Open Sans";
  text-align: center;
}
.navbar{
  background-color: #333030;
  width: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 100;
  margin: 0px;
  height:60px;
  padding:0px;
}
.navbar li {
  display: inline-block;
  font-family: "Open Sans";
  color: white;
  margin: 0px;
  padding: 0px;
}
.main{
  height: 100%;
  width:100%;
  margin:0px;
  background-color: #8DE1EA;
}
.intro {
  background-color: #5FD1DD;
  height: 100%;
  width: 100%;
  margin-top: 60 px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0px;
}

h1, h2, h3, h4, h5, p, ul, li {
    color: #071456;
    font-family: "Lato";

}
h1 {
    font-size: 50px;

}
.projects {
  background-color: #071456;
  height: 600px;
  margin: 0px;
}

.contact {
  background-color: gray;
}
#hi {
  margin-top: 100 px;
  color: white;
}
