h1{
  font-family: "Open Sans";
  text-align: center;
}
.navbar{
  background-color: #333030;
  width: 100%;
  position: fixed;
}
.navbar li {
  display: inline-block;
  font-family: "Open Sans";
  color: white;
}
